$event-border-radius: 0px !default;
$event-padding: 2px !default;
$event-zindex: 4 !default;

@import 'react-big-calendar/lib/sass/styles';

.rbc-event{
  @extend .rbc-event;
  &:focus {
    outline: 2px auto $event-border;
  }
}

.rbc-calendar {
  .rbc-event {
    background-color: inherit;
  }
}

.rbc-day-slot .rbc-background-event, .rbc-day-slot .rbc-event {
  background-color: $event-bg;
}
.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-event-content > *{
  pointer-events: none;
}

// .rbc-time-gutter + div {
//   background-color: $out-of-range-bg-color;
// }

.rbc-header {
  border-bottom: none;
  white-space: pre-wrap;
}
.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: none;
}

.rbc-month-row {
  min-height: 100px;
}

.rbc-month-row {
  min-height: calc(100vh / 8);

}
.rbc-event {
  // background-color: transparent !important;
  // color: inherit !important;
}

.rbc-show-more {
  color:#74BACD;
  padding-left: 1em;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

$out-of-range-color: lighten(#999, 40%) !default;
$out-of-range-bg-color: lighten(#333, 78%) !default;

.rbc-off-range {
  color: $out-of-range-color;
}

.rbc-off-range-bg {
  background: $out-of-range-bg-color;
}

$today-highlight-bg: lighten(#7F8AAC, 35%) !default;
.rbc-today {
  background-color: $today-highlight-bg;
}

.rbc-timeslot-group {
  min-height: 80px;
  display: flex;
  flex-flow: column nowrap;
}
.rbc-day-slot .rbc-events-container {
  margin-right: 0px;
}

.rbc-overlay {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 50px;
}