$event-border-radius: 0px !default;
$event-padding: 2px !default;
$event-zindex: 4 !default;

@import 'react-big-calendar/lib/sass/styles';

.rbc-event{
  @extend .rbc-event;
  &:focus {
    outline: 2px auto $event-border;
  }
}

.rbc-calendar {
  .rbc-event {
    background-color: inherit;
  }
}

.rbc-day-slot .rbc-background-event, .rbc-day-slot .rbc-event {
  background-color: $event-bg;
}
.rbc-allday-cell {
  display: none;
}
.rbc-time-view .rbc-header {
  border-bottom: none;
}

.rbc-event-content > *{
  pointer-events: none;
}

// .rbc-time-gutter + div {
//   background-color: $out-of-range-bg-color;
// }

.rbc-header {
  border-bottom: none;
  white-space: pre-wrap;
}
.rbc-time-header-content > .rbc-row.rbc-row-resource {
  border-bottom: none;
}

.rbc-month-row {
  min-height: 100px;
}
