
.datagrid {
  @import "./variables.scss";
  @import 'ka-table/style.scss';
  .ka-thead-fixed {
    position: sticky;
    z-index: 1;
  }
  .ka-thead-cell-content {
    text-transform: uppercase;
  }
}
