.ag-theme-alpine .ag-header {
    background-color: #f2f2f2;
    border-bottom: solid 0px !important;
}
.ag-theme-alpine {
    margin: 2rem;
}
.ag-theme-alpine .ag-root-wrapper {
    border: none;
    box-shadow: 0 4px 8px 0 lightgrey;
}
.sb-show-main.sb-main-padded {
    background-color: #e5e5e5;
}
.ag-theme-alpine .ag-row {
    border-width: 0px !important;
}
.tag {
  background: #f9dcd9 !important;
  color: red !important;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 4px !important;
  height: 29px !important;
}
.tagAnker{
    text-decoration: none;
}